body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
    padding: 0px;
    background: black;
    color: aliceblue
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

/* Modal Content */
.modal-content {
    background-color: #04001d;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 600px;
  }
  
.nft-row img {
    border-radius: 8px;
    max-width: 200px;
}

.nft-row {
    display: flex;
    flex-wrap: wrap;
}

.nft-column {
    width: 24%;
}

.nft-column h2 {

    font-size: 16px;
    font-weight: 500;
    color: #b4bbc3;

}

.nft-display {
    margin: 5px;
}

.main-container {
    display: flex;
    justify-content: center;
    margin: 11px 0px 0px 0px;
}

.input-default {
    margin: 0px 8px 0px 0px;
    padding: 10px;
    min-width: 300px;
    background: #00000f;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    color: white;
}

.button-default {
    margin: 0px 1px;
    padding: 10px 20px;
    background: cornsilk;
    border-radius: 10px;

}

.max-width {
    max-width: 1000px;
    margin: 0px auto;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    .nft-row {
        display: flex;
        flex-direction: column;
    }

    .nft-column {
        width: 100%;
    }
}